@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: 'Noto Sans', sans-serif;
}

main{
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 95%;
}

/* Styles for the first section of the profile file */

.contenedorprueba2{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.contenedorHeader{
    display: flex;
    gap: 5px;
    margin-top: 1.5rem;
}

/* Styles for the second section of the profile file */

.secondSection{
    width: 100%;
    height: 80%;
    border: 1px solid #E0E0E0;
}

.ctparrafo{
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.ctparrafo a{
    color: #2D9CDB;
    text-decoration: none;
}

.headerForm{
    width: 90%;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 1rem 0 0 2rem;
}

.headerForm>h1{
    font-size: 21px;
    font-weight: 400;
}

.headerForm>p{
    font-size: 11px;
    font-weight: 500;
    color: #828282;
}


.containerPhotoProfile{
    display: flex;
    align-items: center;
    padding-left: 2rem;
    margin-bottom: 1rem;
    height: 5.3rem;
    width: 100%;
}

.containerPhotoProfile>h4{
    color: #b2b2b2;
    font-size: 11px;
    font-weight: 500;
    width: 27%;
}

.fotoedit{
    margin-left: 1rem;
}

.contenedorImagen{
    height: 4rem;
    width: 4rem;
    border-radius: 8px;
    border: 1px solid black;
}

.contenedorImagen img{
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.form{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}


.containerInformation{
    height: 4.3rem;
    padding-left: 2rem;
    display: flex;
    flex-direction:column ;
    align-items: flex-start;
}


.containerInformation label{
    color: #4F4F4F;
    font-size: 12px;
    font-weight: 500;
    width: 7%;
}


.containerInformation input{
    border-radius: 12px;
    border: 1px solid #828282;
    width: 20rem;
    height: 3rem;
    padding-left: 1rem;
}

.containerInformation.bio{
    height: 6rem;
    padding-left: 2rem;
    display: flex;
    flex-direction:column ;
    align-items: flex-start;
}

.containerInformation.bio >input{
    border-radius: 12px;
    border: 1px solid #828282;
    width: 20rem;
    height: 5rem;
}

.btnSave{
    background-color:#2F80ED ;
    color: #FFF;;
    border-radius: 8px;
    width: 5rem;
    height: 2.5rem;
    border: none;
    margin-left: 2rem;
    margin-top: .5rem;
}



/* Styles for the third section of the profile file */


.thirdSection{
    display: flex;
    flex-direction: row;
    width: 9rem;
}

.contenedorToogle{
    display: flex;
    align-items: center;
    width: 15rem;
    height: 4rem;
}

.contImg{
    width: 2rem;
    height: 2rem;
    border: 1px solid black;
}

.dropdown-content{
    display: flex;
    flex-direction: column;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    border: none;
    color: #333;
    background-color: transparent;
    font-size: 16px;
    width: 10rem;
    cursor: pointer;
}

.arrow {
    margin-left: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 160px;
    margin: 2rem 4rem 0 0;
}

.dropdown-content a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}
