@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    border: 1px solid #BDBDBD;
    border-radius: 24px;
    height: 55%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/* First Container */

.sectionOne{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 20%;
    width: 75%;
}

.contenedorHeader{
    display: flex; 
    align-items: center;
}

.contenedorHeader p{
    font-size: 11px;
    font-weight: 700;
}

.containerInfinity{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px 0 0;
}

.sectionOne h2{
    font-weight: 600;
    font-size: 14px;
    width: 75%;
}

/* Second container */

.sectionTwo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 35%;
    width: 75%;
}


.containerInput{
    display: flex;
    border: 1px groove #BDBDBD;
    border-radius: 8px;
    width: 100%;
    height: 2.7rem;
}

.formulario{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenedorImagen{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 100%;
}

input {
    border: none;
    height: 100%;
    width: 90%;
    border-radius: 8px;
}

button{
    width: 100%;
    height: 2rem;
    border-radius: 8px;
    border: none;
    color: #f0f0f0;
    background-color:#2F80ED ;
}

/* Design for the third section */

.sectionThree {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width:  70%;
    height: 35%;
}

.imagenSocialMedia{
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.sectionThree >p{
    font-size: 11px;
    color: #828282;
    font-weight: 400;
}

a{
    text-decoration: none;
    color: #2D9CDB;
}

.containerLogos{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px groove #828282;
    border-radius: 25px;
    width: 2.3rem;
    height: 2.3rem;
}


